<div class="container">
  <footer>
    <div>
      <small>
        Copyright &copy; <%= link_to "Alpha Blog", root_path %>
        by <a href="https://github.com/ValentinPirgach">Valenyn Pirhach</a>
      </small>
    </div>
    <div>
      <nav>
        <ul>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
